[submodule "packer-heartbeat"]
  path = packer-heartbeat
  url = git@github.com:jphetphoumy/packer-heartbeat.git
[submodule "terraform"]
	path = terraform
	url = git@github.com:jphetphoumy/terraform-hacluster.git
